@import '../utils/mixins';
@import '../utils/container';

.container__cennik {
  padding-top: 116px;
}

.cennik__title {
  font-family: Oranienbaum;
  @include font(40px, 1vw, 40px, 400, 48px);
  text-transform: uppercase;
  padding-bottom: 48px;
}

.container__table {
  background-color: #ffffff;
  padding: 48px 108px;
  @include mediaMaxQuery(900px) {
    padding: 48px 48px;
  }
  @include mediaMaxQuery(500px) {
    padding: 18px 10px;
  }
}

.container__scrollbar {
  height: 762px;
  overflow: auto;
  padding-right: 39px;
  @include mediaMaxQuery(500px) {
    padding-right: 10px;
  }

  &::-webkit-scrollbar {
    height: 762px;
    width: 12px;
    background-color: #f6f5f2;
    margin-right: 61px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cc8e1e;
    border-radius: 28px;
    width: 8px;
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  padding-bottom: 26px;
}
.thead {
  @include flex();
  justify-content: space-around;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  padding: 16px 0;
  font-family: Oranienbaum;
  background-color: #faf4e8;
  @include font(26px, 2vw, 32px, 400, 40px);
}
.tbody {
  @include flex();
  justify-content: space-around;
  flex-direction: column;
  width: 100%;

  gap: 26px;
  font-family: Oranienbaum;
  @include font(26px, 2vw, 32px, 400, 40px);
}
.table__item__text {
  @include flex();

  justify-content: space-around;
  background-color: #f1efe9;
  @include font(20px, 2vw, 24px, 400, 32px);
  width: 100%;
  padding: 8px 0;
}
