@import "../utils/container";
@import "../utils/mixins";
@import "../layouts/header.module.scss";

.container__pakiety {
  padding-top: 89px;
}
.pakiety__title {
  font-family: Oranienbaum;
  @include font(40px, 1vw, 40px, 400, 48px);
  text-transform: uppercase;
  padding-bottom: 48px;
}
.pakiety__list {
  @include flex();
  flex-direction: column;
  gap: 20px;
  @include mediaQuery(1280px) {
    flex-direction: row;
  }
}
.pakiety__list__item {
  box-sizing: border-box;
  max-width: 413px;
  padding: 24px;

  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #cc8e1e45;
}
.pakiety__list__title {
  font-family: Oranienbaum;
  color: #cc8e1e;
  @include font(20px, 2vw, 24px, 400, 32px);
}
.pakiety__list__text {
  @include font(14px, 2vw, 16px, 400, 24px);

  padding: 16px 0;
}
