:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #f6f5f2;
  --text-color: rgba(43, 63, 91, 1);
}

[data-theme='dark'] {
  --background-color: #1f1a0d;
  --text-color: #fff;
}

body {
  font-family: Inter Display;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
